@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* 共通CSS */

:root{
  --backColor: #F5F5F5;
  --mainColor : #572601;
  --subColor: #F0A10C;
  --grayColor: #ADADAD;
  --blackColor: #000;
  --whiteColor: #fff;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--backColor);
  color: var(--blackColor);
  font-size: 15px;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body.fixed {
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  image-rendering: -webkit-optimize-contrast;
}

a {
  text-decoration: none;
}

br {
  line-height: initial;
}

span {
  line-height: inherit;
}

.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: grid;
  place-items: center;
  place-content: center;
  width: 100%;
  height: 48px;
  background: var(--mainColor) right 10px top 10px / 26.75px 27.86px no-repeat;
}
.header__title {
  font-size: 0.95em;
  color: var(--whiteColor);
  text-align: center;
}
.header__cart {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  place-content: center;
  width: 70px;
  height: 48px;
}
.header__cart.hasContent {
  background-color: var(--subColor);
  cursor: pointer;
}
.header__cart img {
  width: 26.75px;
  height: 27.86px;
  padding-top: 5px;
}
.header__number {
  position: absolute;
  top: 8px;
  right: 12px;
  min-width: 18px;
  height: 18px;
  display: grid;
  place-items: center;
  padding: 0 2px;
  background-color: var(--whiteColor);
  border: 1px solid var(--subColor);
  border-radius: 18px;
  color: var(--subColor);
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
}

main {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 69px 12px 9px;
}

.product__wrapper {
  overflow: hidden;
  margin-bottom: 12px;
  background-color: var(--whiteColor);
  border: 1px solid var(--grayColor);
  border-radius: 8px;
}
.product__image img {
  width: 100%;
  max-width: none;
}
.product__explanation {
  border-top: 1px solid var(--grayColor);
  padding: 12px;
}
.product__title {
  font-size: 1.34em;
  line-height: 1.2em;
}
.product__title span {
  display: inline-block;
  font-size: 0.8em;
}
.product__price {
  margin: 5px 0 6px;
  font-weight: bold;
}
.product__period {
  color: var(--grayColor);
  font-size: 0.8em;
}
.product__outOfDate {
  color: red !important;
}
.product__button {
  display: flex;
  overflow: hidden;
  width: 120px;
  margin: 12px 0 16px auto;
  border: 1px solid var(--grayColor);
  border-radius: 8px;
}
.product__button button {
  display: grid;
  place-items: center;
  width: 40px;
  height: 32px;
  border-radius: 0;
  border: none;
  font-size: 1em;
  padding: 0px;
}
.button__inc-dec {
  background-color: var(--backColor);
  cursor: pointer;
}
.button__inc-dec img {
  width: 12px;
}
button.button__number {
  background-color: var(--grayColor);
  border-left: 1px solid var(--grayColor);
  border-right: 1px solid var(--grayColor);
  color: var(--whiteColor);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 0px;
}
button.button__number.notZero {
  background-color: var(--subColor);
}
button.button__number .input__productQuantity {
  padding: 0;
  margin: 0;
  background-color: inherit;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: var(--whiteColor);
}
/* Chrome, Safari, Edge, Opera */
button.button__number .input__productQuantity::-webkit-outer-spin-button,
button.button__number .input__productQuantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
button.button__number .input__productQuantity[type=number] {
  -moz-appearance: textfield;
}
.product__detail.el-collapse {
  border-top: 1px solid var(--grayColor);
  border-bottom: none;
}
.product__detail-title.el-collapse-item {
  position: relative;
  padding: 0.7em 0 0 1.5em;
  font-weight: bold;
  transition: padding-bottom 0.3s;
}
.product__detail-title.el-collapse-item:last-child {
  margin-bottom: 0;
}
.product__detail-title.el-collapse-item::before {
  content: "";
  position: absolute;
  top: 1.375em;
  left: 0;
  width: 0.85em;
  height: 2px;
  background-color: var(--subColor);
}
.product__detail-title.el-collapse-item::after {
  content: "";
  position: absolute;
  top: 1.1em;
  right: 0.5em;
  transform: translateY(-15%) rotate(45deg);
  width: 0.6em;
  height: 0.6em;
  border-right: 2px solid var(--blackColor);
  border-bottom: 2px solid var(--blackColor);
  transition: transform .3s;
}
.product__detail-title.el-collapse-item.is-active::after {
  transform: rotate(225deg);
}
.product__detail .el-collapse-item__arrow {
  display: none;
}
.product__detail .el-collapse-item__header {
  display: block;
  height: auto;
  padding-right: 1.5em;
  color: inherit;
  border-bottom: none;
  font-size: 1em;
  font-weight: bold;
  line-height: inherit;
}
.product__detail .el-collapse-item__header.is-active {
  padding-bottom: 0.5em;
}
.product__detail .el-collapse-item__wrap {
  border-bottom: none;
}
.product__detail .el-collapse-item__content {
  padding-bottom: 0;
  color: var(--blackColor);
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
}

#cart-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  visibility: visible;
  opacity: 1;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  transition: visibility .3s, opacity .3s;
}
.cart-modal__inner {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 80vh;
  overflow: auto;
  padding: 24px calc(50% - 236px);
  background-color: var(--whiteColor);
}
@media all and (max-width: 500px) {
  .cart-modal__inner {
    padding: 24px;
  }
}
.cart-modal__product {
  padding-bottom: 0.25em;
  font-size: 1.34em;
  font-weight: bold;
  line-height: 1.2em;
}
.cart-modal__price {
  margin-bottom: 1em;
}
.cart-modal__price--unit {
  position: relative;
  padding-right: 4.25em;
}
.cart-modal__price--unit::after {
  content: "×";
  position: absolute;
  top: 0;
  right: 0;
}
.cart-modal__price--number {
  position: relative;
  padding-right: 1em;
}
.cart-modal__price--number::after {
  content: "=";
  position: absolute;
  top: 0;
  right: 0.1em;
}
.cart-modal__price--summary {
  position: relative;
  padding-right: 1.25em;
}
.cart-modal__price--summary::after {
  content: "円";
  position: absolute;
  top: 0;
  right: 0.1em;
}
.cart-modal__summary {
  position: relative;
  line-height: 1.6em;
  text-align: right;
}
.cart-modal__summary span {
  position: relative;
  display: inline-block;
  vertical-align: text-bottom;
  padding-right: 1.125em;
  font-size: 1.6em;
  font-weight: bold;
}
.cart-modal__summary span::after {
  content: "円";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.cart-modal__caution {
  margin-top: 1.5em;
  padding-top: 1em;
  border-top: 1px solid var(--grayColor);
  color: var(--grayColor);
  font-size: 0.8em;
}
.cart-modal__button {
  display: flex;
  justify-content: space-between;
  padding: 45px 0;
}
.cart-modal__button--back,
.cart-modal__button--send {
  width: 49%;
  height: 56px;
  background-color: var(--grayColor);
  border: none;
  border-radius: 56px;
  color: var(--whiteColor);
  font-weight: bold;
  text-align: center;
}
.cart-modal__button--send {
  background-color: var(--subColor);
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
}

.el-drawer__body {
  max-height: 80vh;
}
